<template>
  <div>

    <div class="form-row scroll-container justify-content-center mx-0 my-2">
      <div class="scrollable col">
        <div class="btn-group btn-group-toggle pt-1" data-toggle="buttons">
          <nuxt-link class="btn btn-outline-secondary mr-1" to="/randomizer">
            Randomizer
          </nuxt-link>
          <label v-for="(kind, index) in kinds" :key="index" class="btn btn-secondary mr-1" @click.prevent="select(kind)">
            <input type="radio" autocomplete="off">
            {{_.startCase(kind)+'s'}}
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <searchBar uid="card-search" :suggestions="allCards.map(c => c.title)" @selected="cardTitle => searchSelect(cardTitle)"></searchBar>
      </div>
    </div>

    <div v-if="activeCard" class="row justify-content-center mb-4">
      <div class="col-12 col-lg-5">
        <card :card="activeCard" w="100%"></card>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <ul class="list-group col-lg-6 col-12">
        <li class="list-group-item list-group-item-action" v-for="card in cards" :key="card._id" @click="selectCard(card); toTop()">
          {{card.title}}
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'querystring'
import _ from 'lodash'
import card from '~/components/card'
import searchBar from '~/components/search_bar'
export default {
  data () {
    return {
      activeCard: null,
      kinds: ['fighting_art','secret_fighting_art','disorder','weapon','basic_resource'],
      cards: []
    }
  },
  computed: {
    allCards: function() {
      return this.$store.getters.cards;
    },
    _() { return _ }
  },
  methods: {
    searchSelect: function(cardTitle) {
      this.activeCard = _.filter(this.allCards, card => { return card.title === cardTitle })[0];
    },
    select: function(kind) {
      this.cards = _.filter(this.allCards, card => { return card.kind === kind })
      this.cards = this.cards.sort((a,b) => { return a.title.localeCompare(b.title); });
    },
    selectCard: function(card) {
      this.activeCard = card;
    },
    toTop: function() {
      document.getElementById('layout-default').scrollIntoView({behavior: "smooth", block: "start"});
    }
  },
  components: {
    card,
    searchBar
  }
}
</script>