<template>
  <div>
    <h1 class="text-center">ACCREDITATION</h1>
    <ul class="list-group">
      <li class="list-group-item">Content created for <a href="http://www.kingdomdeath.com">Kingdom Death: Monster</a></li>
      <li class="list-group-item">Art provided by <a href="http://www.kingdomdeath.com">Kingdom Death</a></li>
      <li class="list-group-item">Inspired by sheets made by <strong>n4gol</strong>.</li>
      <li class="list-group-item">Icons provided by <a href="https://useiconic.com/open">Open-Iconic</a></li>
      <li class="list-group-item">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
    </ul>
  </div>
</template>
