<template>
	<div>
		<h1 class="text-center">GLOSSARY</h1>
    <div class="row justify-content-center">
      <div id="glossary" class="col-lg-5 col-12 pt-3">
        <!-- Search Bar -->
        <searchBar uid="glossary" :suggestions="suggestions" @selected="(selected) => select(selected)"></searchBar>
        <!-- Definition -->
        <div class="flex-row justify-content-center" v-if="definition">
          <card :card="{title:phrase, text:[definition]}"></card>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <h1 class="text-center">QUICK REFERENCE</h1>
      <hr />

      <div class="row">
        <div class="col-12 col-lg-4">
          <h3>KNOCKED DOWN</h3>
          <p><strong><em>Monster</em></strong></p>
          <p> Knocked down monster stands when drawing an AI card, Trap card, or at the start of the monster phase. </p>
          <p><strong><em>Survivors</em></strong></p>
          <p> Knocked down survivor's stand at the end of the next monster turn. </p>
        </div>
        <div class="col-12 col-lg-4">
          <h3>COLLISION</h3>
          <ul class="px-3">
            <li>If a monster moves through a survivor, the survivor is knocked down.</li>
            <li>If a monster ends on a survivor, the survivor is knocked down and knockback 5.</li>
            <li>If a survivor suffers knockback into another survivor, complete the knockback movement normally.
            Both survivors suffer collision. If they occupy the same space, place the knocked back survivor in the closest unoccupied space.</li>
            <li>If knockback or monster movement starts at a board edge and would go off of it, instead move along the board edge.</li>
          </ul>
        </div>
        <div class="col-12 col-lg-4">
          <h3>KNOCKBACK</h3>
          <p>
            When a survivor suffers <strong>Knockback X</strong>, they are pushed X amount of spaces in a straight line away from the monster.
            If the survivor passes over or ends up in a space with another survivor, they are both knocked down.
            Survivors may not share spaces. If the survivor encounters a board edge, stop and end knockback.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4">
          <h3>SURVIVAL</h3>
          <p><strong><em>Limitations</em></strong></p>
          <ul class="px-3">
            <li>May use each survival action once per round.</li>
            <li>Attacking survivors cannot perform survival actions.</li>
          </ul>
          <p><strong><em>Opportunitites</em></strong></p>
          <ul class="px-3">
            <li>Between actions of any survivors' turn.</li>
            <li>During flows on monster AI cards.</li>
            <li>During survivor attacks (except attacker).</li>
            <li>Before a monster reaction.</li>
            <li>When attack causes a critical wound, after effects are applied, but before the card is discarded.</li>
            <li>When a monster is knocked down.</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import glossary from '~/glossary'
import card from '~/components/card'
import searchBar from '~/components/search_bar'
export default {
  data () {
    return {
      phrase: '',
      definition: '',
      suggestions: Object.keys(glossary)
    }
  },
  methods: {
    select: function(item) {
      this.phrase = item;
      this.definition = glossary[this.phrase];
    }
  },
  components: {
    card,
    searchBar
  }
}
</script>
