<template>
  <div class="pt-2">
    <dynamicBackground image="https://i.imgur.com/TvTrFHj.jpg"></dynamicBackground>
    <h1 class="text-center">KINGDOM DEATH: MONSTER</h1>
    <h4 class="text-center">RESOURCE &amp; INVENTORY PROJECT</h4>
  </div>
</template>

<script>
import dynamicBackground from '~/components/dynamic_background'
export default {
  components: {
    dynamicBackground
  }
}
</script>