<template>
	<div>
    <searchBar :suggestions="suggestions"></searchBar>
  </div>
</template>

<script>
import searchBar from '~/components/search_bar'
export default {
  data() {
    return {
      suggestions: ['card1','card2','card3','card4']
    }
  },
  components: {
    searchBar
  }
}
</script>
