<template>
	<div>
		<h1 class="text-center">DRAW A CARD</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 text-center">
        <div class="btn-group">
          <button class="btn btn-danger mr-1" @click="getCard('fighting_art')">Fighting Art</button>
          <button class="btn btn-danger mr-1" @click="getCard('secret_fighting_art')">S Fighting Art</button>
          <button class="btn btn-secondary" @click="getCard('disorder')">Disorder</button>
        </div>
        <br>
        <br>
        <div v-if="card">
          <card w="100%" :card="card"></card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import qs from 'querystring'
import axios from 'axios'
import card from '~/components/card'
export default {
  data () {
    return {
      card: null,
    }
  },
  asyncData: function() {
    var query = qs.stringify({
      $limit: 150,
      kind: ['disorder', 'fighting_art', 'secret_fighting_art']
    });
    query = process.env.apiUrl + '/cards?' + query;
    return axios(query)
    .then(res => {
      // console.log(res.data);
      return { cards: res.data.data } ;
    }).catch(err => console.log(err));
  },
  methods: {
    getCard(kind) {
      const cards = _.filter(this.cards, function(c) {return c.kind === kind});
      this.card = cards[_.random(cards.length-1)];
    }
  },
  components: {
    card
  }
}
</script>
