<template>
	<div>
		<div v-if="property==='brain'">
			<genericInput type="number" :label="label" help="Insane = 3+" :parent="parent" :property="`stats.${property}`" :service="service"></genericInput>
		</div>
		<div v-if="property==='head' || property==='body' || property==='waist' || property==='arms' || property==='legs'">
			<genericInput type="number" :label="label" :parent="parent" :property="`stats.${property}.armor`" :service="service"></genericInput>
			<div class="mt-3 ml-1">
				<genericInput v-if="property!=='head'" type="toggle" label="Light" :parent="parent" :property="`stats.${property}.injured_light`" :service="service"></genericInput>
				<genericInput type="toggle" label="Heavy" :parent="parent" :property="`stats.${property}.injured_heavy`" :service="service" ></genericInput>
			</div>
		</div>
	</div>
</template>

<script>
import _ from 'lodash'
import genericInput from '~/components/generic_input'
export default {
	props: {
		label: [String],
		help: [String],
		parent: [Object],
		property: [String],
		service: [String],
	},
	components: {
		genericInput
	}
}
</script>
