<template>
	<div>
		<sectionHeader title="Survival"></sectionHeader>
		<div class="form-row justify-content-around">
			<div class="col-lg-2 col-4">
				<genericInput type="number" :parent="survivor" property="survival.value" service="survivors" label="Survival"></genericInput>
			</div>
			<div class="col-lg-2 col-4">
				<genericInput help="Death = 5+" type="number" :parent="survivor" property="stats.bleed" service="survivors" label="Bleeding" class="mb-2"></genericInput>
			</div>
			<div class="col-lg-2 col-4">
				<genericInput help="Frenzy = 3" type="number" :parent="survivor" property="stats.lunacy" service="survivors" label="Lunacy" class="mb-2"></genericInput>
			</div>
			<div class="col">
				<genericInput type="toggle" :parent="survivor" property="survival.dodge" service="survivors" label="Dodge" :labelTop="true"></genericInput>
			</div>
			<div class="col">
				<genericInput type="toggle" :parent="survivor" property="survival.encourage" service="survivors" label="Encourage" :labelTop="true"></genericInput>
			</div>
			<div class="col">
				<genericInput type="toggle" :parent="survivor" property="survival.surge" service="survivors" label="Surge" :labelTop="true"></genericInput>
			</div>
			<div class="col">
				<genericInput type="toggle" :parent="survivor" property="survival.dash" service="survivors" label="Dash" :labelTop="true"></genericInput>
			</div>
			<div class="col">
				<genericInput type="toggle" :parent="survivor" property="survival.endure" service="survivors" label="Endure" :labelTop="true"></genericInput>
			</div>
		</div>

		<sectionHeader title="Attributes"></sectionHeader>
		<div class="form-row">
			<div class="col-lg-2 col-4">
				<genericInput type="number" label="Movement" :parent="survivor" property="attributes.movement.base" service="survivors"></genericInput>
				<genericInput type="number" smallLabel="Tokens" :small="true" :parent="survivor" property="attributes.movement.token" service="survivors"></genericInput>
			</div>
			<div class="col-lg-2 col-4">
				<genericInput type="number" label="Accuracy" :parent="survivor" property="attributes.accuracy.base" service="survivors"></genericInput>
				<genericInput type="number" :small="true" smallLabel="Tokens" :parent="survivor" property="attributes.accuracy.token" service="survivors"></genericInput>
			</div>
			<div class="col-lg-2 col-4">
				<genericInput type="number" label="Strength" :parent="survivor" property="attributes.strength.base" service="survivors"></genericInput>
				<genericInput type="number" :small="true" smallLabel="Tokens" :parent="survivor" property="attributes.strength.token" service="survivors"></genericInput>
			</div>
			<div class="col-lg-2 col-4 mt-3 mt-lg-0">
				<genericInput type="number" label="Evasion" :parent="survivor" property="attributes.evasion.base" service="survivors"></genericInput>
				<genericInput type="number" :small="true" smallLabel="Tokens" :parent="survivor" property="attributes.evasion.token" service="survivors"></genericInput>
			</div>
			<div class="col-lg-2 col-4 mt-3 mt-lg-0">
				<genericInput type="number" label="Luck" :parent="survivor" property="attributes.luck.base" service="survivors"></genericInput>
				<genericInput type="number" :small="true" smallLabel="Tokens" :parent="survivor" property="attributes.luck.token" service="survivors"></genericInput>
			</div>
			<div class="col-lg-2 col-4 mt-3 mt-lg-0">
				<genericInput type="number" label="Speed" :parent="survivor" property="attributes.speed.base" service="survivors"></genericInput>
				<genericInput type="number" :small="true" smallLabel="Tokens" :parent="survivor" property="attributes.speed.token" service="survivors"></genericInput>
			</div>
		</div>

		<sectionHeader title="Physical"></sectionHeader>
		<div class="form-row my-3">
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="brain" service="survivors" label="Brain"></bodyStat>
			</div>
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="head" service="survivors" label="Head"></bodyStat>
			</div>
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="arms" service="survivors" label="Arms"></bodyStat>
			</div>
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="body" service="survivors" label="Body"></bodyStat>
			</div>
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="waist" service="survivors" label="Waist"></bodyStat>
			</div>
			<div class="col-lg-2 col-4">
				<bodyStat :parent="survivor" property="legs" service="survivors" label="Legs"></bodyStat>
			</div>
		</div>

		<div class="mt-5 text-center">
			<button class="form-control btn btn-outline-success" @click.disable="reset">Return from Showdown</button>
			<small class="text-center text-muted">Removes: Bleeding, Tokens, Gear, Light/Heavy Injuries.</small>
		</div>

	</div>
</template>

<script>
import axios from 'axios'
import sectionHeader from '~/components/section_header'
import genericInput from '~/components/generic_input'
import bodyStat from '~/components/survivors/body_stat'
export default {
	props: {
		survivor: [Object],
	},
	methods: {
		reset: function() {
			const apiUrl = `${process.env.apiUrl}/survivors/${this.survivor._id}`;

			return axios(apiUrl)
				.then(res => {
					var survivor = res.data;
					survivor.attributes.movement.token = 0;
					survivor.attributes.accuracy.token = 0;
					survivor.attributes.strength.token = 0;
					survivor.attributes.evasion.token = 0;
					survivor.attributes.luck.token = 0;
					survivor.attributes.speed.token = 0;
					survivor.stats.bleed = 0;
					survivor.stats.head.armor = 0;
					survivor.stats.head.injured_heavy = false;
					survivor.stats.arms.armor = 0;
					survivor.stats.arms.injured_light = false;
					survivor.stats.arms.injured_heavy = false;
					survivor.stats.body.armor = 0;
					survivor.stats.body.injured_light = false;
					survivor.stats.body.injured_heavy = false;
					survivor.stats.waist.armor = 0;
					survivor.stats.waist.injured_light = false;
					survivor.stats.waist.injured_heavy = false;
					survivor.stats.legs.armor = 0;
					survivor.stats.legs.injured_light = false;
					survivor.stats.legs.injured_heavy = false;
					return axios.patch(apiUrl, survivor)
						.then(res => {
							window.location.reload(true);
						});
				}).catch(err => console.log(err));
		}
	},
	components: {
		sectionHeader,
		genericInput,
		bodyStat
	}
}
</script>
