<template>
	<div class="mt-3">

		<div class="row justify-content-center">
			<div class="col-4 col-lg-2">
				<genericInput type="toggle" :parent="survivor" property="male" service="survivors" label="Male" :labelTop="true"></genericInput>
			</div>
			<div class="col-4 col-lg-2">
				<genericInput type="toggle" :parent="survivor" property="dead" service="survivors" label="Dead" :labelTop="true"></genericInput>
			</div>
			<div class="col-4 col-lg-2">
				<genericInput type="toggle" :parent="survivor" property="skip_hunt" service="survivors" label="Skip Hunt" :labelTop="true"></genericInput>
			</div>
			<div class="col-6 col-lg-3">
				<genericInput type="number" :parent="survivor" property="xp" service="survivors" :storyEvents="huntXpEvents" label="Hunt XP"></genericInput>
			</div>
			<div class="col-6 col-lg-3">
				<label for="settlement">Settlement Page</label>
				<nuxt-link id="settlement" class="btn btn-secondary form-control" :to="`/settlements/${survivor.settlement}`">Settlement</nuxt-link>
			</div>
		</div>

		<div class="form-row">
			<div class="col-12 col-lg-7">
				<sectionHeader title="Courage &amp; Understanding"></sectionHeader>
				<div id="courage_understanding">
					<div class="form-row">
						<div class="col-6">
							<genericInput type="number" :parent="survivor" property="courage.value" service="survivors" :storyEvents="courageEvents" label="Courage"></genericInput>
							<br>
							<genericInput type="toggle" :parent="survivor" property="courage.stalwart" service="survivors" label="Stalwart" class="pl-1"></genericInput>
							<genericInput type="toggle" :parent="survivor" property="courage.prepared" service="survivors" label="Prepared" class="pl-1"></genericInput>
							<genericInput type="toggle" :parent="survivor" property="courage.matchmaker" service="survivors" label="Matchmaker" class="pl-1"></genericInput>
						</div>
						<div class="col-6">
							<genericInput type="number" :parent="survivor" property="understanding.value" service="survivors" :storyEvents="understandingEvents" label="Understanding"></genericInput>
							<br>
							<genericInput type="toggle" :parent="survivor" property="understanding.analyze" service="survivors" label="Analyze" class="pl-1"></genericInput>
							<genericInput type="toggle" :parent="survivor" property="understanding.explore" service="survivors" label="Explore" class="pl-1"></genericInput>
							<genericInput type="toggle" :parent="survivor" property="understanding.tinker" service="survivors" label="Tinker" class="pl-1"></genericInput>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-5">
				<sectionHeader title="Weapon Proficiency"></sectionHeader>
				<div id="weapon_proficiency">
					<div class="form-row">
						<div class="col-12">
							<genericInput type="number" :parent="survivor" property="weapon_proficiency.value" service="survivors" :storyEvents="weaponProficiencyEvents" label="Proficiency"></genericInput>
						</div>
						<div class="col-4">
							<genericInput type="text" :parent="survivor" property="weapon_proficiency.kind" service="survivors" label="Type"></genericInput>
						</div>
						<div class="col-4">
							<genericInput type="text" :parent="survivor" property="weapon_proficiency.specialist" service="survivors" label="Specialist"></genericInput>
						</div>
						<div class="col-4">
							<genericInput type="text" :parent="survivor" property="weapon_proficiency.master" service="survivors" label="Master"></genericInput>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</template>

<script>
import axios from 'axios'
import genericInput from '~/components/generic_input'
import progressBar from '~/components/progress_bar'
import sectionHeader from '~/components/section_header'
export default {
	data () {
		return {
			huntXpEvents: [
			{ trigger: 2, num: 1, name: "Age", story: true },
			{ trigger: 6, num: 2, name: "Age", story: true },
			{ trigger: 10, num: 3, name: "Age", story: true },
			{ trigger: 15, num: 4, name: "Age", story: true },
			{ trigger: 16, num: 1, name: "Retired", story: false }],
			courageEvents: [
			{ trigger: 3, num: 1, name: "Bold", story: true },
			{ trigger: 9, num: 2, name: "See the Truth", story: true }],
			understandingEvents: [
			{ trigger: 3, num: 1, name: "Insight", story: true },
			{ trigger: 9, num: 2, name: "White Secret", story: true }],
			weaponProficiencyEvents: [
			{ trigger: 3, num: 1, name: "Specialist", story: false },
			{ trigger: 8, num: 2, name: "Master", story: false }],
		};
	},
	props: {
		survivor: [Object],
		settlement: [Object],
	},
	methods: {
		remove: function () {
			axios.delete(process.env.apiUrl + '/survivors/' + this.survivor._id)
			.then(res => {
				this.$router.push(`/settlements/${this.survivor.settlement}`);
			}).catch(err => console.log(err));
		}
	},
	components: {
		genericInput,
		progressBar,
		sectionHeader,
	}
}
</script>
