<template>
  <div>
    <sectionHeader title="Notes"></sectionHeader>
    <div id="notes">
      <genericInput type="textarea" :parent="survivor" property="notes" service="survivors"></genericInput>
    </div>

    <div v-if="!survivor.template">
      <sectionHeader title="Settings"></sectionHeader>
      <div class="form-row">
        <div class="col">
          <genericInput type="text" :parent="survivor" property="name" service="survivors" @update="reload" label="Name"></genericInput>
        </div>
      </div>
<!--       <div class="form-row mt-4">
        <div class="col">
          <button @click.prevent="remove" class="btn btn-outline-danger form-control">Delete</button>
        </div>
      </div>
 -->    </div>
  </div>
</template>

<script>
import genericInput from '~/components/generic_input'
import progressBar from '~/components/progress_bar'
import sectionHeader from '~/components/section_header'
export default {
  methods: {
    reload: function() {
      window.location.reload(true);
    }
  },
  props: {
    survivor: [Object],
    settlement: [Object],
  },
  components: {
    genericInput,
    progressBar,
    sectionHeader,
  }
}
</script>