<template>
  <div class="form-row">

    <div class="col-12 col-lg-6">
      <sectionHeader title="Severe Injuries"></sectionHeader>

      <h4>Head</h4>
      <div class="form-row align-items-end mb-3">
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Intracranial Hemmorage" :parent="survivor" property="severe_injuries.intracranial_hemmorage" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Deaf" :parent="survivor" property="severe_injuries.deaf" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Shattered Jaw" :parent="survivor" property="severe_injuries.shattered_jaw" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Blind" :parent="survivor" property="severe_injuries.blind" service="survivors"></genericInput>
        </div>
      </div>

      <h4>Arms</h4>
      <div class="form-row align-items-end mb-3">
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Ruptured Muscle" :parent="survivor" property="severe_injuries.ruptured_muscle" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Broken" :parent="survivor" property="severe_injuries.broken_arm" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Contracture" :parent="survivor" property="severe_injuries.contracture" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Dismembered" :parent="survivor" property="severe_injuries.dismembered_arm" service="survivors"></genericInput>
        </div>
      </div>  

      <h4>Body</h4>
      <div class="form-row justify-content-between align-items-end mb-3">
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Destroyed Back" :parent="survivor" property="severe_injuries.destroyed_back" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Gaping Wound" :parent="survivor" property="severe_injuries.gaping_chest_wound" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Broken Rib" :parent="survivor" property="severe_injuries.broken_rib" service="survivors"></genericInput>
        </div>
      </div>

      <h4>Waist</h4>
      <div class="form-row align-items-end mb-3">
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Intestinal Prolapse" :parent="survivor" property="severe_injuries.intestinal_prolapse" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Destroyed Genitals" :parent="survivor" property="severe_injuries.destroyed_genitals" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Broken Hip" :parent="survivor" property="severe_injuries.broken_hip" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Warped Pelvis" :parent="survivor" property="severe_injuries.warped_pelvis" service="survivors"></genericInput>
        </div>
      </div>

      <h4>Legs</h4>
      <div class="form-row justify-content-between align-items-end mb-3">
        <div class="col-3">
          <genericInput type="toggle" :labelTop="true" label="Hamstrung" :parent="survivor" property="severe_injuries.hamstrung" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Dismembered" :parent="survivor" property="severe_injuries.dismembered_leg" service="survivors"></genericInput>
        </div>
        <div class="col-3">
          <genericInput type="number" :small="true" label="Broken" :parent="survivor" property="severe_injuries.broken_leg" service="survivors"></genericInput>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-6">
      <sectionHeader title="Fighting Arts &amp; Disorders"></sectionHeader>
      <form>
        <searchBar class="mt-2" uid="statuses" :suggestions="suggestions" @selected="c => selectedCard(c)"></searchBar>
      </form>
      <ul class="list-group">
        <li v-for="(status,index) in statuses" class="list-group-item">
          <div class="form-row align-items-center justify-content-between mb-2">
            <h3 class="text-amp m-0"> {{status.title}} </h3>
            <img src="/open-iconic/svg/x.svg" height="12" @click="remove(index)">
          </div>
          <div class="form-row mb-2"><h5 class="m-0"> ({{_.startCase(status.kind)}}) </h5></div>
          <div class="form-row"> {{status.text.join('\n')}} </div>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import sectionHeader from '~/components/section_header'
import searchBar from '~/components/search_bar'
import genericInput from '~/components/generic_input'
export default {
  data() {
    return {
      statuses: null
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      this.statuses = this.survivor.statuses;
    });
  },
  computed: {
    suggestions: function() {
      return _.filter(this.$store.getters.cards, c => { return ['disorder','fighting_art','secret_fighting_art'].indexOf(c.kind) !== -1 }).map(c => c.title);
    },
    _: function() { return _ }
  },
  methods: {
    selectedCard: function(selection) {
      var card = _.filter(this.$store.getters.cards, c => { return c.title === selection })[0];
      this.statuses.push(card);
      this.statuses = _.sortBy(this.statuses, [function(s) { return s.kind; }]);
      this.save();
    },
    save: function() {
      this.survivor.statuses = _.sortBy(this.statuses, [function(s) { return s.kind; }]);
      const query = `${process.env.apiUrl}/survivors/${this.survivor._id}`
      axios.patch(query, this.survivor);
    },
    remove: function(index) {
      this.statuses.splice(index, 1);
      this.save();
    }
  },
  props: {
    survivor: { type: Object, required: true }
  },
  components: {
    sectionHeader,
    searchBar,
    genericInput
  }
}
</script>