<template>
  <div>

    <h1 class="text-center">{{settlement.name}}</h1>
    <div class="flex-row nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#nav-record" role="tab">General</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-timeline" role="tab">Timeline</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-survivors" role="tab">Survivors</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-monsters" role="tab">Monsters</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-storage" role="tab">Storage</a>
    </div>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-record" role="tabpanel">
        <general :settlement="settlement"></general>
      </div>
      <div class="tab-pane fade" id="nav-timeline" role="tabpanel">
        <timeline :settlement="settlement"></timeline>
      </div>
      <div class="tab-pane fade" id="nav-survivors" role="tabpanel">
        <survivors :settlement="settlement" :survivors="survivors"></survivors>
      </div>
      <div class="tab-pane fade" id="nav-monsters" role="tabpanel">
        <monsters :settlement="settlement"></monsters>
      </div>
      <div class="tab-pane fade" id="nav-storage" role="tabpanel">
        <storage :settlement="settlement" :cards="cards"></storage>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'querystring'
import general from '~/components/settlements/general'
import timeline from '~/components/settlements/timeline'
import survivors from '~/components/settlements/survivors'
import monsters from '~/components/settlements/monsters'
import storage from '~/components/settlements/storage'
export default {
  data () {
    return {
      settlement: {},
      survivors: [],
      tabs: [],
    }
  },
  asyncData ({ env, params }) {
    const apiUrl = env.apiUrl

    // Fetch Settlement
    function getSettlement() {
      const query = `${apiUrl}/settlements/${params.id}`;
      return axios.get(query)
      .then(res => {
        return res.data;
      }).catch(err => console.log(err));
    }

    // Fetch Survivors
    function getSurvivors() {
      const query = apiUrl + '/survivors?' + qs.stringify({'$limit': 100, settlement: params.id});
      return axios(query)
      .then(res => {
        return res.data.data;
      }).catch(err => console.log(err));
    }

    // Fetch Cards
    function getCards() {
      const query = apiUrl + '/cards?' + qs.stringify({kind:['basic_resource','weapon','item','armor']});
      return axios(query)
      .then(res => {
        return res.data.data;
      }).catch(err => console.log(err));
    }

    // Execute Fetches
    return axios.all([getSettlement(), getSurvivors(), getCards()])
    .then(axios.spread((settlement, survivors, cards) => {
      return { settlement, survivors, cards };
    })).catch(err => console.log(err));
  },
  components: {
    general,
    timeline,
    survivors,
    monsters,
    storage
  }
}
</script>
