<template>
  <div>
    <h1 class="text-center">NEW SETTLEMENT</h1>
    <div class="flex-row justify-content-center">
      <form>
        <input v-model="name" type="text" class="form-control" placeholder="Name" />
        <button @click.prevent="create" type="submit" class="btn btn-outline-secondary form-control mt-3">Create</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import staticData from '~/static_data'
export default {
  data () {
    return {
      name: ''
    };
  },
  props: {
    service: { type: String }
  },
  methods: {
    create: function () {
      const settlementName = this.name;

      function createNewbornTemplate() {
        const newborn_template = { name: settlementName + ' Newborn Template', template: true };
        return axios.post('/api/survivors', newborn_template)
        .then(res => {
          return res.data;
        }).catch(err => console.log(err));
      }

      function createSettlement() {
        const new_settlement = {
          name: _.toUpper(settlementName),
          milestones: staticData.milestones,
          principles: staticData.principles,
          timeline: staticData.timeline
        };
        return axios.post('/api/settlements', new_settlement)
        .then(res => {
          return res.data;
        }).catch(err => console.log(err));
      }

      return axios.all([createSettlement(), createNewbornTemplate()])
      .then(axios.spread((settlement, survivor) => {
        const newborn = { newborn_template: survivor._id };
        axios.patch('/api/settlements/', newborn)
        .then(res => {
          const settle = { settlement: settlement._id };
          axios.patch('/api/survivors/', settle)
          .then(res => {
            return this.$router.push('/settlements/'+settlement._id);
          });
        });
      })).catch(err => console.log(err));
    }
  }
}
</script>
