<template>
  <div>
    <h1 class="text-center">SETTLEMENTS</h1>
    <nuxt-link to="/settlements/create" class="btn btn-outline-danger form-control">New</nuxt-link>
    <ul class="list-group mt-3">
        <nuxt-link v-for="settlement in settlements" :key="settlement._id" :to="`/settlements/${settlement._id}`" class="list-group-item list-group-item-action">
          {{settlement.name}}
        </nuxt-link>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      settlements: []
    }
  },
  asyncData ({ env }) {
    return axios.get(env.apiUrl + '/settlements')
    .then(res => {
      const settlements = res.data.data;
      return { settlements }
    }).catch(err => console.log(err));
  }
}
</script>
