<template>
  <div id="layout-default">
    <navbar />

    <div class="container mt-2">
      <nuxt />
    </div>

    <foot />
  </div>
</template>

<script>
import navbar from '~/components/navbar'
import foot from '~/components/foot'

export default {
  components: {
    navbar,
    foot
  }
}
</script>
