<template>
  <div>
    <label v-if="title" :for="property+'.list'">{{title}}</label>
    <form>
      <ul class="list-group" :id="property+'.list'">
        <li class="list-group-item p-2" v-for="(item, index) in dItems">
          <input type="text" class="form-control border-0 px-1 py-0" :value="item" @change.prevent="updateItem(index, $event)" />
        </li>
        <li class="list-group-item p-2">
          <input type="text" class="form-control border-0 px-1 py-0" :placeholder="placeholder" @change.prevent="addItem" />
        </li>
      </ul>
    </form>

  </div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
export default {
  data () {
    return {
      dItems: [],
    }
  },
  computed: {
    _() { return _; },
  },
  props: {
    parent: [Object],
    property: [String],
    service: [String],
    title: [String],
    placeholder: {
      type: String,
      default: "Add"
    }
  },
  mounted: function() {
    this.$nextTick(function () {
      this.dItems = _.get(this.parent, this.property);
    });
  },
  methods: {
    addItem: function(event) {
      this.dItems.push(event.target.value);
      event.target.value = '';
      this.save();
    },
    updateItem: function(index, event) {
      const newValue = event.target.value;
      if (newValue === '') {
        this.dItems.splice(index,1);
      } else {
        this.dItems[index] = event.target.value;
      }
      this.save();
    },
    save: function() {
      const payload = { [this.property]: this.dItems };
      return axios.patch(`${process.env.apiUrl}/${this.service}/${this.parent._id}`, payload)
      .then(res => {
        console.log(`Successfully updated <${this.property}>`);
      }).catch(err => console.log(err));
    }
  }
}
</script>
