<template>
  <div class="card text-center" :style="`width: ${w}`">
    <h3 class="card-header p-2">{{card.title}}</h3>
    <div class="card-body py-2" v-if="gear">
      <div v-if="card.keywords" class="row justify-content-center text-muted"><em>{{card.keywords.join(", ")}}</em></div>
      <div v-if="card.stats" class="btn-group btn-group-sm my-2" role="group">
        <button v-for="(i,index) in Array(Number(card.stats[0]))" class="btn btn-outline-secondary mr-1 px-1">
          <img src="/open-iconic/svg/lightning.svg" height="15">
        </button>
        <button class="btn btn-secondary mr-1">{{card.stats[1]}}</button>
        <button class="btn btn-dark mr-1">{{card.stats[2]}} <b>+</b></button>
        <button class="btn btn-dark">{{card.stats[3]}}</button>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li v-for="text in card.text" class="list-group-item text-center p-2"> {{text}} </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    gear: function() {
      return this.card.kind && ['disorder','secret_fighting_art','fighting_art'].indexOf(this.card.kind) === -1;
    }
  },
  props: {
    w: String,
    card: { type: Object, required: true }
  }
}
</script>