<template>
  <div class="dynamic-background" :style="style"></div>
</template>

<style type="text/css">
.dynamic-background {
  position:absolute;
  top: 50px;
  bottom: 60px;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1; /* Remove this line if it's not going to be a background! */
  opacity: 0.2;
  /*background-image: url("/art/lg2.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<script>
export default {
  data () {
    return { style: { backgroundImage: `url("${this.image}")` } };
  },
  props: {
    image: { type: String, required: true }
  }
}
</script>