<template>
  <div class="footer bg-dark text-light flex-row justify-content-center py-2">
    <div class="col text-center">
      <div>
        <a href="/credits" class="text-light"><u>Accreditation</u></a>
      </div>
      <div>
        All Rights Reserved &copy; 2018 Spencer McWilliams
      </div>
    </div>
  </div>
</template>
