<template>
  <div class="mb-2">
    <form novalidate>

      <div v-if="type==='text' || type==='number'">
        <label v-if="label" :for="property">{{label}}</label>
        <small v-if="smallLabel" :for="property" class="text-muted">{{smallLabel}}</small>
        <div :class="{'input-group':(type==='number'&&allow_increment), 'input-group-sm':small}">
          <div v-if="type==='number' && allow_increment" class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary" @click.prevent="update(Number(dValue)-1, $event)">
              <img src="/open-iconic/svg/caret-bottom.svg">
            </button>
          </div>

          <input :type="type" :value="dValue" :id="property" :class="{'is-invalid':error, 'p-0 text-center':(type==='number') }" class="form-control" :disabled="this.type==='number' && allow_increment" @change.prevent="update($event.target.value, $event)" :placeholder="placeholder" autocomplete="off"/>

          <div v-if="type==='number' && allow_increment" class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" @click.prevent="update(Number(dValue)+1, $event)">
              <img src="/open-iconic/svg/caret-top.svg">
            </button>
          </div>
        </div>
        <div v-if="storyEvents" class="mt-2">
          <progressBar :value="dValue" :max="progressMax"></progressBar>
          <storyEvent :value="Number(dValue)" :events="storyEvents"></storyEvent>
        </div>
      </div>

      <div v-if="type==='toggle'" class="mt-1">
        <div v-if="labelTop && label" class="mb-2 text-center">
          <span>{{label}}</span>
        </div>
        <div class="form-row m-0 p-0" :class="{'justify-content-center':labelTop}">
          <div :class="{'col1':labelTop}">
            <div class="material-switch form-check pl-1 pt-1">
              <input type="checkbox" :checked="dValue" :id="property" class="form-check-input" />
              <label :for="property" class="label-default" @touchstart.prevent="update(!dValue, $event)" @click.prevent="update(!dValue, $event)"></label>
              <span v-if="!labelTop && label" class="ml-3">{{label}}</span>
            </div>
          </div>
        </div>
      </div>

      <div v-if="type==='check'">
        <label :for="property">
          <input type="checkbox" :checked="dValue" :id="property" @change.prevent="update($event.target.checked, $event)" />
          {{label}}
        </label>
      </div>

      <div v-if="type==='textarea'">
        <label v-if="label" :for="property">{{label}}</label>
        <textarea :value="dValue" :id="property" class="form-control" @change.prevent="update($event.target.value, $event)" rows="5"></textarea>
      </div>

      <small v-if="error" class="text-danger">{{error}}</small>
      <small v-if="help && !error" class="text-muted">{{help}}</small>

    </form>
  </div>
</template>

<style type="text/css">
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}
.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  opacity: 1;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: rgb(163, 0, 0);
  opacity: 0.8;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  left: 20px;
}
</style>

<script>
import axios from 'axios'
import _ from 'lodash'
import progressBar from '~/components/progress_bar'
import storyEvent from '~/components/story_event'
export default {
  data () {
    return { error: '', dValue: null }
  },
  computed: {
    showLabel: function() {
      return (this.label && this.type!=='toggle' && this.type!=='check');
    },
    progressMax: function() {
      return _.maxBy(this.storyEvents, function(e) { return e.trigger }).trigger;
    }
  },
  mounted: function() {
    this.$nextTick(function(){
      this.dValue = _.get(this.parent, this.property);
      if (this.type === 'number')
        this.dValue = Number(this.dValue);
    });
  },
  props: {
    // Decoration
    label: [String],
    smallLabel: [String],
    labelTop: { type: Boolean, default: false },
    help: [String],
    type: [String],
    storyEvents: [Array],
    // Data Source Props
    parent: [Object],
    property: [String],
    service: [String],
    placeholder: { type: String, default: ''},
    allow_increment: { type: Boolean, default: true},
    small: { type: Boolean, default: false },
  },
  methods: {
    update: function(value, event) {
      const payload = { [this.property]: value };
      this.dValue = value;
      // Establish axios options for json
      const opts = { headers: { Accept: 'application/json' } };
      // Attempt PATCH
      axios.patch(`${process.env.apiUrl}/${this.service}/${this.parent._id}`, payload, opts)
      .then(res => {
        // Clear errors
        document.getElementById(this.property).classList.remove('is-invalid');
        this.error = '';
        // Log update
        console.log(this.property + " successfully updated to <" + value + ">");
        this.$emit('update', value, event);
      })
      .catch(err => {
        // Set is-invalid flag
        document.getElementById(this.property).classList.add('is-invalid');
        // Update field's invalid-feedback div
        this.error = err.response.data.errors[this.property].message;
      });
    },
  },
  components: {
    progressBar,
    storyEvent
  }
}
</script>
