<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- Dropdown nav for mobile  -->
    <button class="navbar-toggler" type="button" id="navbar-toggle-button" data-toggle="collapse" data-target="#navbarItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Branding -->
    <nuxt-link to="/" class="navbar-brand mx-3">
      <img src="/human-skull.png" width="30" height="30" alt="KDMRM">
    </nuxt-link>
    <!-- Navigation Options -->
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav mr-auto mt-2">
        
        <!-- Settlements -->
        <li class="nav-item" @click="collapse">
          <nuxt-link class="nav-link my-auto" to="/settlements">Settlements<span class="sr-only"></span></nuxt-link>
        </li>

        <!-- Cards -->
        <li class="nav-item" @click="collapse">
          <nuxt-link class="nav-link my-auto" to="/cards">Cards<span class="sr-only"></span></nuxt-link>
        </li>

        <!-- Reference -->
        <li class="nav-item" @click="collapse">
          <nuxt-link class="nav-link my-auto" to="/glossary">Reference<span class="sr-only"></span></nuxt-link>
        </li>

      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  methods: {
    collapse: function() {
      $('.collapse').collapse('hide');
    }
  }
}
</script>
