<template>
  <div class="progress my-1">
    <div class="progress-bar bg-danger" role="progressbar" :style="style"></div>
  </div>
</template>

<script>
export default {
  props: {
    value: [Number, String],
    max: [Number, String],
  },
  computed: {
    style: function() {
      var max = Number(this.max);
      var value = Number(this.value);
      if (value < 0) value = 0;
      const width = value > max ? 100 : value/max*100;
      return `width: ${width}%`;
    }
  }
}
</script>
