<template>
  <div>
    <input :id="'search-input-'+uid" type="text" v-model="needle" placeholder="Search" class="form-control" @blur="open=false" @click="toggle()" @input="search(true)" autocomplete="off">
    <a class="dropdown-toggle hidden-dropdown-toggle" :id="'dropdown-toggle-'+uid" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu">
      <a v-for="item in matches.slice(0,max_suggestions)" class="dropdown-item" @click="select(item)">{{item}}</a>
      <div v-if="matches.length > max_suggestions" class="dropdown-divider"></div>
      <a v-if="matches.length > max_suggestions" class="dropdown-item disabled text-muted" :style="{'cursor':'default'}"><span><em>{{matches.length-max_suggestions}} more...</em></span></a>
    </div>
  </div>
</template>

<script>
import FuzzySearch from 'fuzzy-search'
import _ from 'lodash'
export default {
  data() {
    return {
      open: false,
      needle: '',
      matches: [],
    }
  },
  mounted: function() {
  },
  methods: {
    search: function() {
      // Searches suggestions for current needle
      const searcher = new FuzzySearch(this.suggestions);
      this.matches = searcher.search(this.needle);
      this.toggle();
      document.getElementById('search-input-'+this.uid).focus();
    },
    select: function(selection) {
      this.needle = '';
      this.open = false;
      this.$emit('selected', selection);
      this.needle = '';
    },
    toggle: function() {
      // Toggles the Dropdown as necessary
      if (!this.open && this.matches.length > 0 && this.needle.length > 1) {
        $('#dropdown-toggle-'+this.uid).dropdown('toggle');
        this.open = !this.open;
      } else if (this.open && (this.matches.length === 0 || this.needle.length < 2)) {
        $('#dropdown-toggle-'+this.uid).dropdown('toggle');
        this.open = !this.open;
      }
    }
  },
  props: {
    uid: { type: String, required: true },
    suggestions: { type: Array, required: true },
    max_suggestions: { type: Number, default: 7 }
  }
}
</script>