<template>
  <div class="section-header flex-row pt-3">
    <h3>{{header}}</h3>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  computed: {
    header() {
      return _.toUpper(this.title);
    }
  },
  props: ['title']
}
</script>
