<template>
  <div>
    <div v-if="!storyEvent" class="form-row align-items-center ml-1">
      <img class="mr-1" src="/open-iconic/svg/bookmark.svg" height="18">
      {{triggers}}
    </div>
    <div v-if="storyEvent" class="form-row align-items-center ml-1">
      <img v-for="i in _.range(storyEvent.num)" src="/open-iconic/svg/media-stop.svg" height="18">
      <div class="ml-1 mr-2">
        {{storyEvent.name}}
      </div>
      <img v-if="storyEvent.story" src="/open-iconic/svg/open-book.svg" height="20">
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  computed: {
    triggers() {
      var t = [];
      _.forEach(this.events, function(e) {
        t.push(e.trigger);
      });
      t = _.join(t, ', ');
      return t;
    },
    storyEvent() {
      return this.events.filter(e => e.trigger == this.value)[0];
    },
    _() {
      return _;
    }
  },
  props: {
    events: [Array],
    value: [Number],
  }
}
</script>
