<template>
	<div>

		<sectionHeader title="General"></sectionHeader>
		<div id="general">
			<div class="form-row">
				<div class="col-6 col-lg-2">
					<genericInput type="number" :parent="settlement" service="settlements" property="survival.limit" label="Survival Limit"></genericInput>
					<genericInput type="number" :parent="settlement" service="settlements" property="survival.departing" smallLabel="Departing"></genericInput>
				</div>
				<div class="col-6 col-lg-2">
					<genericInput type="number" label="Lantern Research" :parent="this.settlement" property="lantern_research" service="settlements"></genericInput>
				</div>
				<div class="col-12 col-lg-3 mt-2 mt-lg-0">
					<basicList :parent="settlement" property="innovations" service="settlements" title="Innovations" placeholder="Innovate"></basicList>
				</div>
				<div class="col-12 col-lg-3 mt-2 mt-lg-0">
					<basicList :parent="settlement" property="settlement_locations" service="settlements" title="Settlement Locations" placeholder="Build"></basicList>
				</div>
				<div class="col-12 col-lg-2 mt-2 mt-lg-0">
					<basicList :parent="settlement" property="monster_volumes" service="settlements" title="Monster Volumes" placeholder="Discover"></basicList>
				</div>
			</div>
		</div>
		<hr>

		<sectionHeader title="Milestones &amp; Principles"></sectionHeader>
		<div class="form-row">
			<div id="milestones" class="col-12 col-lg-6">
				<label class="ml-1 mb-0">Milestones</label>
				<div v-for="(milestone, index) in settlement.milestones" :key="index" class="mx-lg-2">
					<milestone :parent="settlement" :index="index"></milestone>
				</div>
			</div>
			<div id="principles" class="col-12 col-lg-6">
				<label class="ml-1 mb-0">Principles</label>
				<div v-for="(principle, index) in settlement.principles" :key="index" class="mx-lg-2">
					<principle :parent="settlement" :index="index" :principle="principle"></principle>
				</div>
			</div>
		</div>
		<hr>

		<sectionHeader title="Notes"></sectionHeader>
		<div id="notes">
			<div class="form-group">
				<genericInput type="textarea" :parent="settlement" property="notes" service="settlements"></genericInput>
			</div>
		</div>
		<hr>

		<sectionHeader title="Settings"></sectionHeader>
		<div>
			<div class="form-row">
				<div class="col">
					<genericInput type="text" :parent="settlement" property="name" service="settlements" @update="reload" label="Name"></genericInput>
				</div>
			</div>
			<div class="form-row mt-4">
				<div class="col">
					<!-- <button @click.prevent="remove" class="btn btn-outline-danger form-control">Delete</button> -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import qs from 'querystring'
import genericInput from '~/components/generic_input'
import basicList from '~/components/basic_list'
import sectionHeader from '~/components/section_header'
import milestone from '~/components/settlements/milestone'
import principle from '~/components/settlements/principle'
export default {
	props: {
		settlement: [Object]
	},
	methods: {
		remove: function () {
			const settlementId = this.settlement._id;
			const router = this.$router;
			function removeSurvivors() {
				const query = qs.stringify({
					settlement: settlementId
				});
				console.log(process.env.apiUrl + '/survivors?' + query);
				axios.delete(process.env.apiUrl + '/survivors?' + query)
				.then(res => {
				}).catch(err => console.log(err));

			};
			function removeSettlement() {
				axios.delete(process.env.apiUrl + '/settlements/' + settlementId)
				.then(res => {
					router.push('/settlements');
				}).catch(err => console.log(err));
			};
			return axios.all([removeSettlement(), removeSurvivors()]);
		},
		reload: function() {
			window.location.reload(true);
		}
	},
	components: {
		genericInput,
		basicList,
		sectionHeader,
		milestone,
		principle
	}
}
</script>
