<template>
  <div class="form-row align-items-center border rounded my-1">

    <genericInput class="pt-1 pl-2" type="toggle" :parent="parent" :property="`milestones.${index}.triggered`" service="settlements" :label="milestone.trigger" @update="e => update(e)"></genericInput>
    <div v-if="triggered" class="pt-1">
      <span><img class="ml-3 mr-1" src="/open-iconic/svg/open-book.svg" height="20"></span>
      {{milestone.story_event}}
    </div>

  </div>
</template>

<script>
import genericInput from '~/components/generic_input'
export default {
  data () {
    return {
      triggered: this.parent.milestones[this.index].triggered,
      popoverContent: `${this.parent.milestones[this.index].story_event} <span><img class='ml-1' src="/open-iconic/svg/book.svg" height="15"></span>`
    }
  },
  computed: {
    milestone: function(){
      return this.parent.milestones[this.index];
    },
  },
  components: {
    genericInput
  },
  methods: {
    update: function(value, event) {
      this.triggered = value;
    }
  },
  props: ['parent', 'index']
}
</script>
