<template>
	<div>

	<h2 class="mt-3">QUARRIES</h2>
	<div id="quarries">
		<basicList :parent="settlement" property="quarries" service="settlements" placeholder="Add Quarry"></basicList>
	</div>

	<h2 class="mt-3">NEMESES</h2>
	<div id="nemeses">
		<basicList :parent="settlement" property="nemeses" service="settlements" placeholder="Add Nemesis"></basicList>
	</div>

	</div>
</template>

<script>
import basicList from '~/components/basic_list'
export default {
	props: {
		settlement: [Object],
	},
	components: {
		basicList
	}
}
</script>
