<template>
  <div class="form-row border rounded my-1 p-0">

    <div class="w-100 pl-2 pr-3 pt-1">
      <genericInput type="toggle" :parent="parent" :property="`principles.${index}.triggered`" service="settlements" :label="principle.name" @update="e => update(e)"></genericInput>
    </div>

    <div v-show="triggered" class="form-row w-100 align-items-center mx-1">

      <div class="col-5 p-0 text-center">
        <p class="mb-1">{{principle.choices[0]}}</p>
      </div>

      <div class="col-2">
        <genericInput type="toggle" :parent="parent" :property="`principles.${index}.choice`" service="settlements"></genericInput>
      </div>

      <div class="col-5 p-0 text-center">
        <p class="mb-1">{{principle.choices[1]}}</p>
      </div>

    </div>
  </div>
</template>

<script>
import genericInput from '~/components/generic_input'
export default {
  data () {
    return {
      triggered: this.parent.principles[this.index].triggered,
      popoverContent: `${this.parent.principles[this.index].name} <span><img class='ml-1' src="/open-iconic/svg/book.svg" height="15"></span>`
    }
  },
  components: {
    genericInput
  },
  methods: {
    update: function(value, event) {
      this.triggered = value;
    }
  },
  props: ['parent', 'index', 'principle']
}
</script>