<template>
	<div>

		<h2 class="mt-3">GEAR</h2>
		<div id="gear">
			<form>
				<searchBar class="mt-3" uid="gear" :suggestions="gearCards" @selected="c => selectedCard('gear', c)"></searchBar>
				<ul class="list-group">
					<li v-for="(gear, index) in gear" :key="index" class="list-group-item pt-1 px-3">
						<div class="form-row align-items-center">
							<div class="col-8"> {{gear.card.title}} </div>
							<div class="col-4 mt-2">
								<genericInput type="number" :parent="settlement" :property="`gear.${index}.total`" service="settlements" @update="v => update('gear', v, index)" :small="true"></genericInput>
							</div>
						</div>
						<div class="form-row">
							({{gear.card.keywords.join(", ")}})
						</div>
					</li>
				</ul>
			</form>
		</div>

		<h2 class="mt-3">RESOURCES</h2>
		<div id="resources">
			<form>
				<searchBar class="mt-3" uid="resources" :suggestions="resourceCards" @selected="c => selectedCard('resources', c)"></searchBar>
				<ul class="list-group">
					<li v-for="(resource, index) in resources" :key="index" class="list-group-item pt-1 px-3">
						<div class="form-row align-items-center">
							<div class="col-8"> {{resource.card.title}} </div>
							<div class="col-4 mt-2">
								<genericInput type="number" :parent="settlement" :property="`resources.${index}.total`" service="settlements" @update="v => update('resources', v, index)" :small="true"></genericInput>
							</div>
						</div>
						<div class="form-row">
							({{resource.card.keywords.join(", ")}})
						</div>
					</li>
				</ul>
			</form>
		</div>

	</div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import searchBar from '~/components/search_bar'
import genericInput from '~/components/generic_input'
export default {
	data() {
		return {
			gear: [],
			resources: []
		}
	},
	mounted: function() {
		this.$nextTick(function() {
			this.gear = this.settlement.gear;
			this.resources = this.settlement.resources;
		});
	},
	computed: {
		resourceCards: function() {
			return _.filter(this.$store.getters.cards, c => { return c.kind === 'basic_resource' }).map(c => c.title);
		},
		gearCards: function() {
			return _.filter(this.$store.getters.cards, c => { return ['weapon','item','armor'].indexOf(c.kind) !== -1 }).map(c => c.title);
		}
	},
	methods: {
		selectedCard: function(prop, selection) {
			const card = _.filter(this.$store.getters.cards, c => { return c.title === selection })[0];
			var tmpCard = { title: card.title, keywords: card.keywords };
			_.get(this, prop).push({ 'card': tmpCard, 'total': 1 });
			this.save();
		},
		update: function(prop, value, index) {
			if (value === 0) {
				_.get(this, prop).splice(index,1);
				this.save();
			}
		},
		save: function() {
			const query = `${this.settlement._id}`
			axios.patch(query, this.settlement);
		}
	},
	props: {
		settlement: { type: Object, required: true }
	},
	components: {
		searchBar,
		genericInput
	}
}
</script>
