<template>
	<div>

		<h2 class="mt-3">CREATE</h2>
		<form>
			<div class="form-row">
				<div class="col-4 col-md-8">
					<input type="text" class="form-control" v-model="name" placeholder="Name" />
				</div>
				<div class="col-4 col-md-2">
					<button class="btn btn-outline-secondary form-control" type="button" @click.prevent="editNewborn"> Template </button>
				</div>
				<div class="col-4 col-md-2">
					<button class="btn btn-outline-success form-control" type="submit" @click.prevent="create(false)"> Create </button>
				</div>
			</div>
		</form>
		<form>
			<div class="form-row mt-2">
				<div class="col-8 col-md-10">
					<div class="input-group">
						<input type="number" class="form-control" v-model="genCount" placeholder="Count" />
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-secondary" @click.prevent="genCount++">
								<img src="/open-iconic/svg/caret-top.svg">
							</button>
							<button type="button" class="btn btn-outline-secondary" @click.prevent="genCount--">
								<img src="/open-iconic/svg/caret-bottom.svg">
							</button>
						</div>
					</div>
				</div>
				<div class="col-4 col-md-2">
					<button class="btn btn-outline-success form-control" @click.prevent="create(true)"> Generate </button>
				</div>
			</div>
		</form>

		<h2 class="mt-4">POPULATION : {{livingSurvivors.length}}</h2>
		<ul class="list-group">
			<nuxt-link v-for="survivor in livingSurvivors" class="list-group-item list-group-item-action px-3 py-2" :key="survivor._id" :to="`/survivors/${survivor._id}`">
				<span class="text-dark"> {{survivor.name}} -
					<img v-if="survivor.xp===0" src="/open-iconic/svg/media-record.svg" height="13">
					<img v-if="survivor.xp===16" src="/open-iconic/svg/sun.svg" height="13">
					<img v-if="survivor.xp < 16" v-for="i in Array(survivor.xp)" :key="i" src="/open-iconic/svg/media-stop.svg" height="13">
				</span>
			</nuxt-link>
		</ul>

		<h2 class="mt-4">DECEASED : {{deadSurvivors.length}}</h2>
		<ul class="list-group">
			<nuxt-link v-for="survivor in deadSurvivors" class="list-group-item list-group-item-action px-3 py-2" :key="survivor._id" :to="`/survivors/${survivor._id}`">
				<span class="text-dark"> {{survivor.name}} -
					<img v-if="survivor.xp===0" src="/open-iconic/svg/media-record.svg" height="13">
					<img v-if="survivor.xp===16" src="/open-iconic/svg/sun.svg" height="13">
					<img v-if="survivor.xp < 16" v-for="i in Array(survivor.xp)" :key="i" src="/open-iconic/svg/media-stop.svg" height="13">
				</span>
			</nuxt-link>
		</ul>

	</div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import qs from 'querystring'
import genericInput from '~/components/generic_input'
export default {
	data () {
		return {
			name: '',
			genCount: 0,
			dSurvivors: [],
		}
	},
	mounted: function() {
		this.$nextTick(function() {
			this.dSurvivors = this.survivors;
		});
	},
	computed: {
		livingSurvivors: function () {
			return this.dSurvivors.filter(survivor => (!survivor.dead && !survivor.template)).sort(function(a,b){return b.xp-a.xp});
		},
		deadSurvivors: function () {
			return this.dSurvivors.filter(survivor => (survivor.dead && !survivor.template));
		}
	},
	props: {
		settlement: [Object],
		survivors: [Array],
	},
	methods: {
		create: async function(initializing) {
			var newSurvivors = [];
			if (!initializing) {
				if (this.name === '') return;
				var query = qs.stringify({
					'settlement': this.settlement._id,
					'template': true,
					'$limit': 1
				});
				query = '/api/survivors?' + query;
				const queryPromise = axios.get(query);
				var template = (await Promise.resolve(queryPromise)).data.data[0];
				template.name = _.toUpper(this.name);
				template.settlement = this.settlement._id;
				template.template = false;
				delete template._id;
				newSurvivors.push(template);
				this.name = '';
			} else {
				if (this.genCount === 0) return;
				_.range(this.genCount).forEach(i => newSurvivors.push({ name: "UNNAMED" , settlement: this.settlement._id }));
				this.genCount = 0;
			}
			return axios.post(process.env.apiUrl + '/survivors', newSurvivors)
			.then(res => {
				this.dSurvivors = _.concat(this.dSurvivors, res.data);
			}).catch(err => console.log(err));
		},
		editNewborn: function() {
			this.$router.push('/survivors/' + this.settlement.newborn_template);
		}
	},
	components: {
		genericInput
	}
}

</script>
