<template>
	<div>

    <h2 class="my-3">TIMELINE</h2>

    <div class="form-row justify-content-around">
      <ul class="list-group col-12 col-lg-6" v-for="i in _.range(1, settlement.timeline.length/14)" :key="i">
        <li v-for="(year, index) in settlement.timeline.slice((i-1)*15,i*15)" :key="index" class="list-group-item px-2 py-0 m-0">
          <div class="form-row align-items-center pl-2">
            <genericInput class="pt-1" type="toggle" :parent="settlement" :property="`timeline.${(i-1)*15+index}.complete`" service="settlements" :label="`${(i-1)*15+index+1}`"></genericInput>
            <div v-if="year.story_event" class="col">
              <span><img v-if="!year.nemesis" class="ml-3 mr-1" src="/open-iconic/svg/open-book.svg" height="20"></span>
              <span><img v-if="year.nemesis" class="ml-3 mr-1" src="/open-iconic/svg/swords.svg" height="20"></span>
              {{year.story_event}}
            </div>
          </div>
          <div class="form-row align-items-center mb-2 px-0">
            <div class="col-12">
              <genericInput type="text" :parent="settlement" :property="`timeline.${(i-1)*15+index}.settlement_event`" service="settlements" :small="true"></genericInput>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import _ from 'lodash'
import genericInput from '~/components/generic_input'
export default {
  props: ['settlement'],
  computed: {
    _() { return _ }
  },
  components: {
    genericInput
  }
}
</script>