@font-face {
    font-family: 'Amplitude-Book';
    src: url('fonts/Amplitude-Book.woff2') format('woff2'),
        url('fonts/Amplitude-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Silverado-Light-Condensed';
    src: url('fonts/Silverado-Light-Condensed.woff2') format('woff2'),
         url('fonts/Silverado-Light-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Silverado-Medium-Condensed';
    src: url('fonts/Silverado-Medium-Condensed.woff2') format('woff2'),
         url('fonts/Silverado-Medium-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: inherit;
  margin-bottom: 120px; /* Margin bottom by footer height */
  font-family: Amplitude-Book;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
a.nav-link {
  color: rgb(185, 0, 0);
}
.red {
  color: rgb(185, 0, 0);
}
.dropdown-menu {
  box-shadow: 0px 2px 10px grey;
}
.dropdown-item {
  cursor: pointer;
}
.list-group-item-action {
  cursor: pointer;
}
.section-head {
  cursor: pointer;
}
.scroll-container {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -17px;
  overflow-x: scroll;
}
.hidden-dropdown-toggle {
  visibility: hidden;
  position: relative;
  top: -15px;
  width: 100%;
}
.text-silver-m, h1 {
  font-family: Silverado-Medium-Condensed;
}
.text-silver-l, h2, h3 {
  font-family: Silverado-Light-Condensed;
}
.text-amp {
  font-family: Amplitude-Book;
}
.card-header {
  font-family: Silverado-Medium-Condensed;
}

/*@media screen and (max-width: 767px) {
  body {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }
}*/
