<template>
  <div>

    <h1 class="text-center mb-3">{{survivor.name}}</h1>
    <hr>

    <h2 class="text-center section-head red mb-0" data-toggle="collapse" href="#general">GENERAL</h2>
    <div class="collapse" id="general">
      <general :survivor="survivor" :settlement="settlement"></general>
    </div>
    <hr>

    <h2 class="text-center section-head red mb-0" data-toggle="collapse" href="#combat">COMBAT</h2>
    <div class="collapse" id="combat">
      <combat :survivor="survivor"></combat>
    </div>
    <hr>

    <h2 class="text-center section-head red mb-0" data-toggle="collapse" href="#statuses">STATUSES</h2>
    <div class="collapse" id="statuses">
      <statuses :survivor="survivor"></statuses>
    </div>
    <hr>

    <h2 class="text-center section-head red mb-0" data-toggle="collapse" href="#misc">MISCELLANEOUS</h2>
    <div class="collapse" id="misc">
      <misc :survivor="survivor"></misc>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import qs from 'querystring'
import general from '~/components/survivors/general'
import combat from '~/components/survivors/combat'
import statuses from '~/components/survivors/statuses'
import misc from '~/components/survivors/misc'
export default {
  data () {
    return {
      survivor: {},
      settlement: {},
    };
  },
  asyncData ({ env, query, params }) {
    const survivorUrl = env.apiUrl + '/survivors/' + params.id
    return axios.get(survivorUrl)
    .then(res => {
      const survivor = res.data;
      const settlementUrl = env.apiUrl + '/settlements?' + qs.stringify(
      {
        _id:survivor.settlement,
        $select: ['name']
      });
      return axios.get(settlementUrl)
      .then(res => {
        const settlement = res.data.data[0];
        return { survivor, settlement };
      })}).catch(err => console.log(err));
  },
  mounted: function() {
    this.$nextTick(function () {

    });
  },
  components: {
    general,
    combat,
    statuses,
    misc,
  }
}
</script>
